#logo {
    width: 280px;
    position: absolute;
    left: 730px;
    top: -100px;
}
body {
    background-color: rgb(255, 255, 255);
    
}
header {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    height: 90px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
}
.head {
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 15px;

    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 24px;
    color: rgba(51, 51, 51, 0.795);     
}
.head:hover {
    color: rgb(0, 0, 0);
}
#voltar {
    background-color: rgb(146, 146, 146);
    position: fixed;
    right: 350px;
    bottom: -17px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px;
    border-radius: 24px;
    transition: scale 100ms linear;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);
}
#voltar:hover {
    scale: 1.1;
}

#ini {
    left: 950px;
}
#mot {
    left: 920px;
}
#tip {
    left: 1014px;
}
#corri {
    left: 1080px;
}
#mark {
    left: 926px;
}

section {
    margin-left: 300px;
    margin-right: 300px;
}
p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 17px;

}
.m {
    border-radius: 100%;
    width: 300px;
    position: absolute;
}   


.nomes {
    position: absolute;
    top: 700px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin-top: 90px;
    font-size: 40px;
    color: rgba(51, 51, 51, 0.795);
}

#mat {
    top: 345px;
    left: 270px
}

#mig {
    top: 345px;
    left: 620px;
}

#rub {
    top: 345px;
    left: 970px;
}

#wes {
    top: 345px;
    left: 1320px;
}

#nmat {
    top: 670px;
    left: 98px;
}

#nmig {
    top: 670px;
    left: 455px;
}

#nrub {
    top: 670px;
    left: 810px;
}

#nwes {
    top: 670px;
    left: 1180px;
}

#art {
    position: absolute;
    top: 700px;
}

#art {
    margin-top: 100px;
}

#font {
    margin-left: -150px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    margin-bottom: 100px;
}