body {
    background-image: url(/imgs/fundopreto.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    margin-top: 50px;
    font-size: 70px;
    text-shadow: 15px 15px 15px black;
}
footer {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    width: 90%;
}
#foot1 {
    position: relative;
    top: 10px;
    left: 5px;
}
#foot2 {
    position: relative;
    left: 5px;
}
#foot3 {
    position: absolute;
    bottom: 2px;
    left: 730px;
    width: 450px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.logos {
    width: 20px;
    border-radius: 100px;
    position: absolute;
    bottom: 5px;
}
#you {
    width: 40px;
    right: -52px;
}
#zap {
    right: -75px;
    bottom: 14px;
    width: 24px;
}
#snap {
    right: -105px;
    bottom: 14px;
    width: 24px;
}
#twit {
    right: -135px;
    bottom: 14px;
    width: 24px;
}
#insta {
    right: -165px;
    bottom: 14px;
    width: 24px;
}
.car {
    width: 300px;
    border-radius: 24px;
    position: absolute;
    border: 3px solid white;
    transition: scale 100ms linear;
    bottom: 230px;
}
#car4 {
    right: 100px;
    width: 273px;
}
#car3 {
    right: 550px;
    width: 307px;
}
#car2 {
    right: 1000px;
    width: 307px;
}
#car1 {
    left: 100px;
    width: 307px;
}
.car:hover {
    scale: 1.04;
}
h2 {
    color: white;
    position: absolute;
    left: 170px;
    bottom: 140px;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    transition: scale 100ms linear;
}
#motor {
    left: 660px;
}
#tipo {
    left: 1150px;
}
#corrida {
    left: 1572px;
}
h2:hover {
    scale: 1.08;
}
#monaco {
    position: absolute;
    width: 110px;
    top: 30px;
    left: 40px;
    border-radius: 10px;
    transition: scale 100ms linear;
}
#monaco:hover {
    scale: 1.08;
    animation: girando 0.5s ease-in-out 0s 1 normal;
}
@keyframes girando {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
}
